:root {
  --blue: #4c9dc7;
  --green: #a3cabf;
  --yellow: #e0bb52;
  --orange: #dc894d;
  --red: #b55571;
  --purple: #5c9dc7;
  --gray: #33353d;

  --border: rgba(0, 0, 0, 0.1);
  --meta: rgba(0, 0, 0, 0.5);
  --body: rgba(0, 0, 0, 1);
  --shadow: rgba(180, 189, 199, 0.59);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  height: 100%;
  font-size: 13px;
  line-height: 1.5em;
  font-family: "FrancophilSans", sans-serif;

  overscroll-behavior-y: contain;
}

/* LAYOUT */

body {
  display: flex;
  flex-direction: column;
}

.scrollview {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: calc(100dvh - 60px - env(safe-area-inset-bottom));
}

/*.scrollview > div {*/
/*  height: 100%;*/
/*}*/

/* TYPOGRAPHY */

@font-face {
  font-family: "Bebas";
  src: url("~/assets/fonts/BebasNeue.otf") format("opentype");
}

@font-face {
  font-family: "FrancophilSans";
  src: url("~/assets/fonts/FrancophilSans.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "FrancophilSans";
  src: url("~/assets/fonts/FrancophilSansBold.ttf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "SaintAndrewsQueen";
  src: url("~/assets/fonts/SaintAndrewsQueen.ttf") format("truetype");
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  line-height: 1em;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.25rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.875rem;
}

/* END TYPOGRAPHY */

/* RESETS + HELPERS */

a {
  text-decoration: none;
  color: var(--blue);
}

br + br {
  line-height: 5px;
}

button {
  font-size: 1em;
  -webkit-appearance: none;
}

.hide {
  clip-path: inset(100%);
  clip: rect(1px 1px 1px 1px); /* IE 6/7 */
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; /* added line */
  width: 1px;
}

.bg-green {
  background-color: var(--green);
}
.bg-orange {
  background-color: var(--orange);
}
.bg-red {
  background-color: var(--red);
}
.bg-yellow {
  background-color: var(--yellow);
}

/* END RESETS + HELPERS */

/* BUTTONS */

.button-blank {
  padding: 0;
  border: none;
  outline: none;
  background: none;
}

.button-circle {
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  text-indent: -99999px;
}

.button-circle:hover,
.button-circle:active,
.button-circle:focus {
  outline: none;
}

.fav-icon-bg {
  background-image: url("~/assets/icons/favorite-white.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 40%;
}

.friday-icon-bg {
  background-image: url("~/assets/icons/friday-white.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 35%;
}

.appointment-icon-bg {
  background-image: url("~/assets/icons/appointment-filter.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.preview-icon-bg {
  background-image: url("~/assets/icons/preview-filter.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
}

.access-icon-bg {
  background-image: url("~/assets/icons/accessible-white.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 35%;
}

/* END BUTTONS */

/* TAB BAR */

.tabbar {
  background-color: #32373d;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding-right: env(safe-area-inset-right);
  padding-left: env(safe-area-inset-left);
  padding-bottom: env(safe-area-inset-bottom);
}

.tabbar ul {
  height: 60px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.tabbar a {
  color: white;
  text-decoration: none;
}

.tabbar img {
  height: 30px;
}

.tabbar .link .icon-active {
  display: none;
}

.tabbar .router-link-active .icon-default {
  display: none;
}
.tabbar .router-link-active .icon-active {
  display: inline-block;
}

/* END TAB BAR */

/* HOME PAGE */

.home {
  flex-grow: 1;
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  flex-direction: column;
  min-height: calc(100dvh - 60px);
}

.home-header {
  padding: 40px 40px 0;
}

.home-header img {
  width: 100%;
  max-width: 320px;
}

.home-container {
  margin: auto;
  flex-grow: 1;
}

.home-footer {
  width: 100%;
  margin-top:auto;
}

.home-footer img {
  margin: 0 auto;
  width: 100%;
  display: block;
  max-width: 500px;
}

.home-list {
  margin: auto;
  position: relative;
  z-index: 10;
  padding: 20px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 500px;
}

.home-list li {
  padding: 20px;
}

.home-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  width: 140px;
  height: 140px;
  max-width: 30vw;
  max-height: 30vw;
  cursor: pointer;
  transition: all 200ms;
}

.home-item:hover,
.home-item:active,
.home-item:focus
{
  transition: all 200ms;
  transform: scale(1.02, 1.02);
}

@media (max-width: 400px) {
  .home-list li {
    padding: 10px;
  }
  .home-item {
    width: 40vw;
    height: 40vw;
  }
}

.home-item-name {
  color: white;
  font-weight: normal;
}

/* END HOME PAGE */

/* ARTISTS SEARCH */

.search {
  flex-shrink: 0;
  height: 70px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #32373d;
  user-select: none;
}

.search-box {
  position: relative;
  flex-grow: 1;
  margin-right: 10px;
}

.search-input {
  border: none;
  background: white;
  width: 100%;
  height: 40px;
  font-size: 1em;
  line-height: 40px;
  padding-left: 15px;
  padding-right: 40px;
  border-radius: 20px;
  -webkit-appearance: none;
}

.search-input:focus {
  outline: none;
  box-shadow: inset 0 2px 2px var(--shadow);
}

.search-input-icon {
  position: absolute;
  top: 0;
  right: 15px;
  bottom: 0;
  border: none;
  outline: none;
  background: none;
}

.search-input-icon img {
  height: 1em;
}

.search-filters {
  flex-shrink: 0;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
}

.search-filters li {
  margin-left: 10px;
}

.search-filters button:not(.active) {
  opacity: 0.5;
}

.search-filters img {
  height: 1.2em;
  vertical-align: middle;
}

/* END ARTISTS SEARCH */

/* ARTIST FILTER */

.filters {
  background-color: whitesmoke;
  user-select: none;
}

.filters-header {
  height: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--border);
}

.filter-buttons {
    display: flex;
}

@media (max-width: 450px) {
    .filters-header {
        display: block;
        padding: 9px 20px;
        height: auto;
    }
    .filter-buttons {
      margin-bottom: 10px;
    }
    .filters-count {
      text-align: left !important;
    }
}

.filters-header:hover .filters-label {
  text-decoration: underline;
}

.filters-header button {
    cursor: pointer;
}

.filters-label {
  color: var(--blue);
}

.filters-label,
.filters-count {
  font-weight: normal;
}

.filters-count span {
  color: var(--meta);
}

.filters-close {
    color: #7a7a7a;
    display: flex;
    align-items: center;
    font-size: 10px;
    line-height: 11px;
    cursor: pointer;
    text-transform: uppercase;
}

.filters-close svg {
    height: 15px;
    margin-left: 2px;
}

.filters-close svg path {
    fill: #7a7a7a;
}

.filters-clear svg {
    margin-left: 0;
    margin-right: 2px;
}

.filters-header.active .filters-arrow img {
  transform: rotate(180deg);
  transition: all 200ms;
}

.filters-arrow {
  top: 3px;
  position: relative;
}

.filters-arrow img {
  height: 1.1em;
  width: auto;
  display: block;
  max-width: 100%;
  transition: all 200ms;
}

.mediums-filter-list {
  position: relative;
  max-height: 600px;
  height: auto;
  box-shadow: 0 3px 3px var(--shadow);
  transition: all 500ms ease-out;
}

.mediums-filter-list.hide {
  max-height: 0;
  transition: all 500ms ease-out;
}

.mediums-filter-list ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 25px 15px 15px;
  margin: 0;
}

.mediums-filter-list li {
  padding: 5px;
}

.buttons-list button {
  /*width: 100px;*/
  line-height: 15px;
  border-radius: 15px;
  color: var(--blue);
  border: 1px solid var(--blue);
  background: none;
  padding: 5px 12px;
  transition: all 200ms;
  cursor: pointer;
}

.buttons-list button.active {
  color: white;
  background-color: var(--blue);
  outline: none;
  transition: all 200ms;
}

.buttons-list button:hover,
.buttons-list button:active,
.buttons-list button:focus {
  box-shadow: 0 0 3px var(--shadow);
  transition: all 200ms;
  outline: none;
}

.buttons-list button.active::before {
  content: "×";
  padding-right: 3px;
  display: inline-block;
}

.pad-y-20 {
  padding: 20px 0;
}

.pad-b-10 {
  padding-bottom: 10px;
}

.dark-box {
  background-color: whitesmoke;
}

.medium-list {
  margin: 15px 0;
  padding: 0;
  list-style: none;
}

.medium-list li {
  padding-top: 10px;
  margin-bottom: 5px;
  box-sizing: content-box;
}

.medium-list li span {
  line-height: 15px;
  border-radius: 15px;
  color: var(--blue);
  border: 1px solid var(--blue);
  background: none;
  padding: 5px 12px;
  transition: all 200ms;
}

/* END ARTIST FILTER */

/* ARTIST RESULT */

.results {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.results .results-item-title {
  cursor: pointer;
}

.results .results-item-title:hover {
  text-decoration: underline;
}

.results-list {
  margin: 0;
  padding: 0 0 60px;
  list-style: none;
}

.results-list li + li {
  border-top: 1px solid var(--border);
}

.results-item {
  display: flex;
  padding: 20px;
}

.results-item-preview {
  width: 140px;
  max-width: 32vw;
  text-align: center;
  margin-right: 20px;
  user-select: none;
  flex-shrink: 0;
}

.results-item-image {
  float: left; /* fix space below img */
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--border);
  object-fit: cover;
  cursor: pointer;
  transition: all 200ms;
}

.results-item-image:hover,
.results-item-image:focus,
.results-item-image:active
{
  transition: all 200ms;
  box-shadow: 0 2px 5px 1px rgba(180, 189, 199, 0.59);
}

.results-item-favorite {
  color: #b55571;
  padding: 5px;
  width: 100%;
  cursor: pointer;
  transition: all 200ms;
}

.results-item-info .results-item-favorite-block {
  margin: 18px 0 18px;
}

.results-item-favorite-block .results-item-favorite {
  text-align: left;
}

.results-item-favorite:hover img {
  transform: scale(1.1,1.1);
  transition: all 200ms;
}

.results-item-favorite img {
  height: 1em;
}

.results-item-favorite:not(.active) span {
  display: none;
}

.results-item-info {
  position: relative;
  min-width: 1px;
  width: 100%;
  color: var(--meta);
}

.results-item-info > * {
  margin: 5px 0;
}

.results-item-title-container {
    padding-right: 30px;
}

.results-item-title {
  font-family: "Bebas";
  color: var(--body);
  display: inline-flex;
}

.results-item-title-youtube {

}

.results-item-title-youtube {
  height: 14px;
  padding-left: 10px;
  display: inline-flex;
}

.results-item-title-youtube img {
  height: 100%;
}

.page-title {
  padding-right: 30px;
  font-family: "Bebas";
  color: var(--orange);
}

.results-item-accessible-tag img {
  height: 24px;
  margin-right: 5px;
}

.results-item-friday-tag {
  height: 24px;
  border-radius: 15px;
  color: var(--green);
  border: 1px solid var(--green);
  padding-right: 10px;
  display: inline-flex;
  align-items: center;
}

.results-item-friday-tag img {
  position: relative;
  height: 100%;
  margin-right: 5px;
}

.results-item-appointment-tag {
  color: var(--orange);
  border-color: var(--orange);
  white-space: nowrap;
}

@media (max-width: 450px) {
  .results-item-appointment-tag {
    font-size: 11px;
  }
}

.results-item-appointment-tag strong, .results-item-youtube strong {
    letter-spacing: -0.4px;
}

.results-item-youtube {
  font-size: 1.3rem;
  height: 24px;
  color: #c4302b;
  padding-right: 10px;
  display: inline-flex;
  align-items: center;
}

.results-item-youtube img {
  position: relative;
  height: 100%;
  margin-right: 5px;
}

.results-item-info address {
  margin: 5px 0 15px;
  font-style: inherit;
}

.results-item-info address span {
  color: var(--blue);
  cursor: pointer;
}

.results-item-num {
  position: absolute;
  top: -8px;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green);
  color: white;
}

.results-blank {
  flex-grow: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url(~/assets/images/no-results-blank.jpg);
  padding-top: 50px;
  text-align: center;
  height: calc(100dvh - 150px);
}

.results-blank-title {
  text-transform: uppercase;
  font-family: "Bebas";
  letter-spacing: 0.05em;
  font-size: 32px;
  color: #fff;
  text-shadow: 0 0 10px #000;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

.results-blank-explanation {
  font-size: 16px;
  margin: 0 25px;
  color: #fff;
  text-shadow: 0 0 10px #000;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.artist-medium {
  color: #2a2a2d;
}

.results-item-info address

.results-item-address span {
  color: var(--blue);
}

/* END ARTIST RESULT */

/* MAP BOX */

.map-box {
  flex-grow: 1;
}

.gm-fullscreen-control,
.gmnoprint {
  display: none; /* Hide unwanted Google Map controls */
}

.map-favorites-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: var(--red);
}

.map-favorites-toggle img {
  height: 1em;
  vertical-align: middle;
}

.map-favorites-toggle:not(.active) {
  opacity: 0.5;
}

/* END MAP BOX */

/* MAP PANEL */

.map-panel {
  height: 60dvh;
  padding: 20px 20px 60px 20px;
  overflow-x: hidden;
  overflow-y: auto;
}

/*.map-panel-header {*/
  /*text-align: right;*/
/*}*/

.map-panel-back {
  font-family: "Bebas";
  color: var(--blue);
  letter-spacing: 0.05em;
  font-size: 1.2em;
  line-height: 40px;
  cursor: pointer;
}

.map-panel-back:hover,
.map-panel-back:active,
.map-panel-back:focus {
  text-decoration: underline;
}

.map-panel-image {
  display: block;
  width: 100%;
  border-radius: 8px;
  margin: 10px 0 20px;
  max-width: 400px;
  text-align: left;
}

#map-offline {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 12px;
  height: calc(100dvh - 60px - env(safe-area-inset-bottom));
}

#map-offline > svg {
  width: 36px;
}

#map-offline h3 {
  text-align: center;
}

/* END MAP PANEL */
.page-info {
  padding: 20px 20px 60px 20px;
}

.page-info h1,
.page-info h2,
.page-info h3,
.page-info h4,
.page-info h5,
.page-info h6
{
  margin: 15px 0;
}

.page-info p,
.page-info blockquote,
.page-info ul,
.page-info ol
{
  color: var(--meta);
  margin: 15px 0;
  line-height: 1.7em;
}

.page-info img {
  max-width: 100%;
  height: auto;
}

.page-info ul {
  list-style: circle;
  padding-left: 25px;
}

.page-info ol {
  padding-left: 25px;
}

.page-info .date-list {
    list-style: none;
    padding: 0;
}

.page-info .date-list span {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.page-info .date-list li {
    margin-bottom: 15px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.center-image {
  margin: 0 auto;
  display: block;
}

.limit-image, .page-info .limit-image {
  width: 100%;
  height: auto;
  max-width: 320px;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-grid-pad > div {
  padding: 15px;
}

.flex-col {
  flex: 1;
}

.calendar-with-icon {
  list-style: none !important;
  padding-left: 45px;
  background: url("~/assets/icons/about/calendar-alt-light.svg") no-repeat 0 0;
  background-size: 20px 20px;
}

.phone-with-icon {
  list-style: none !important;
  padding-left: 45px;
  background: url("~/assets/icons/about/mobile-android-light.svg") no-repeat 0 0;
  background-size: 20px 20px;
}

.email-with-icon {
  list-style: none !important;
  padding-left: 45px;
  background: url("~/assets/icons/about/at-light.svg") no-repeat 0 0;
  background-size: 20px 20px;
}

.address-with-icon {
  list-style: none !important;
  padding-left: 45px;
  background: url("~/assets/icons/about/map-marker-alt-light.svg") no-repeat 0 0;
  background-size: 20px 20px;
}

.instagram-with-icon {
  list-style: none !important;
  padding-left: 45px;
  background: url("~/assets/icons/about/instagram-brands.svg") no-repeat 0 0;
  background-size: 20px 20px;
}

.facebook-with-icon {
  list-style: none !important;
  padding-left: 45px;
  background: url("~/assets/icons/about/facebook-f-brands.svg") no-repeat 0 0;
  background-size: 20px 20px;
}

.twitter-with-icon {
  list-style: none !important;
  padding-left: 45px;
  background: url("~/assets/icons/about/twitter-brands.svg") no-repeat 0 0;
  background-size: 20px 20px;
}

.youtube-with-icon {
  list-style: none !important;
  padding-left: 45px;
  background: url("~/assets/icons/about/youtube-fill.svg") no-repeat 0 0;
  background-size: 20px 20px;
}

.web-with-icon {
  list-style: none !important;
  padding-left: 45px;
  background: url("~/assets/icons/about/globe-americas-light.svg") no-repeat 0 0;
  background-size: 20px 20px;
}

.sponsor-list {
    align-items: center;
}
.sponsor-list img {
  max-width: 75px;
  height: auto;
  width: 100%;
}

.bring-your-mask {
    width: calc(60vw + 40px);
    max-width: 320px;
    text-align: center;
    border-radius: 8px;
    border: 4px solid #6b9cc2;
    color: #6b9cc2;
    font-size: 1.5rem;
    line-height: 36px;
    margin: 20px auto auto;
    padding: 45px 4px 4px;
    background-image: url("~/assets/icons/mask.png");
    background-position: 50% 10px;
    background-repeat: no-repeat;
    background-size: 20%;
}
@media (max-width: 400px) {
    .bring-your-mask {
        width: calc(60vw + 20px);
    }
}

.calendar {
    position: relative;
    background: #f5f5f5;
    max-height: 1000px;
    height: auto;
    overflow: hidden;
    transition: all 500ms ease-out;
}

.calendar .filters-close, .mediums-filter-list .filters-close {
  position: absolute;
  right: 20px;
  top: 10px;
}

.calendar.hide {
    max-height: 0;
    transition: all 500ms ease-out;
}

.calendar h3 {
    text-transform: uppercase;
    color: #32373d;
    font-size: 16px;
    margin: 0;
    padding-top: 10px;
    text-align: center;
    font-weight: normal;
}

.days-of-week,
.month {
    display: flex;
    flex-wrap: wrap;
}

.day {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 14.285%;
    height: 80px;
}

.days-of-week {
    height: 30px;
}

.days-of-week .day {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.days-of-week .day .value {
    padding: 10px;
    line-height: 12px;
    color: #a6a7a9;
    font-size: 12px;
}

@media (max-width: 450px) {
    .month .day {
        height: 50px;
    }
}

.month .day {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background: white;
    box-shadow:
        -1px -1px #dcdcdc,
        inset -1px -1px 0 0 #dcdcdc;
}

.month .day .value {
    width: 50px;
    line-height: 50px;
    color: #32373d;
    font-size: 25px;
    height: 50px;
    text-align: center;
}
@media (max-width: 450px) {
    .month .day .value {
        width: 40px;
        line-height: 40px;
        font-size: 20px;
        height: 40px;
    }
}

.month .day:hover .value{
    text-decoration: none;
    color: #dc894d;
}

.month .day .value.active {
    color: white;
    background: #dc894d;
    border-radius: 50%;
}

.month .day .value.disabled {
    color: #ddd;
}

.month .day a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pill {
    border-radius: 30px;
    background-color: #7a7a7a;
    color: white;
    padding: 6px 13px;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.pill svg {
    height: 20px;
    fill: white;
    margin-right: 8px;
}


.pill.blue, .pill:hover {
    background-color: #4c9dc7;
}

@media (display-mode: standalone) {

}

.aligncenter {
  text-align: center;
}
